// border colors

$gray-border:#eaeaea;
$primary-border:#e60000;
$secondary-btn-border:#bfbfbf;


// background colors

$white: #fff;
$table-selected-bg: #fce1e1;
$secondary-bg:#f6f6f6;
$dot-bg:#d8d8d8;
$primary-red:$primary-border;
$gradient-dark :#930909;
$gradient-light:#b50707 ;
$black:#000;


//font colors

$header-color : $black;
$subheader-color:#5d5d5d;
$secondary-btn-text:#313131;

